!.gitignore
AWSVPNClient/
bashtop/
chrome/
htop/
iterm2/
karabiner/
kitty/
lvim/
neofetch/config-2.conf
nvim/.github
nvim/git
nvim/examples
nvim/lua/colors
nvim/lua/core
nvim/plugin
nvim/init.lua
nvim/.stylua.toml
nvim/LICENSE
nvim/gitignore
nvim-bk/
rose/
cava/
.DS_store
gen/
back-nvim/
node_modules/
themer/
walmac/
configstore/
nvim-legacy/
nvim.bak/
nvim-legacy-chad/
nvim-legay-old-old/
.neoconf.json
nvim/README.md
