!.gitignore
AWSVPNClient/
bashtop/
chrome/
htop/
iterm2/
karabiner/
kitty/
lvim/
neofetch/config-2.conf
nvim/.github
nvim/git
nvim/examples
nvim/lua/colors
nvim/lua/core
nvim/lua/plugins
nvim/plugin
nvim/init.lua
nvim/.stylua.toml
nvim/LICENSE
nvim/gitignore
nvim-bk/
rose/